<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Home</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    <link rel="stylesheet" th:href="@{/css/login.css}">
</head>

<body>
<div class="container-fluid">
<br>
	<div class="row justify-content-center align-self-center">
		<img th:src="@{/images/capture-prop.jpg}"/>
	</div>

	<br>
		<div class="row justify-content-center align-self-center">
			<div class="col-md-12">
				<h2 class="display-4" align="center">PT Solusi Bangun Beton</h2>
			</div>
		</div>
	<br>
	
	<div class="row justify-content-center align-self-center">
		<div class="col-md-4">
	    	<div th:if="${param.error}">
	              	<p style="color: red">Invalid username or password</p>
	        </div>
			<div class="container-fluid">
                <form th:action="@{/login}" method="POST">
                	<h3>Username</h3>
                    <div class="row form-group">
                        <input type="text" class="col-sm-12 input-sm mb-3" name="username">
                    </div>
                    <h3>Password</h3>
                    <div class="row form-group">
                        <input type="password" class="col-sm-12 input-sm mb-3" name="password">
                    </div>
                    <div class="row form-group">
                        <button type="submit" class="col-sm-12 btn btn-success">MASUK</button>
                    </div>
                </form>
			</div>
		</div>
	</div>
	
</div>

<!--  
    <div class="container-fluid">
        <h2>Hello!</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header">
                        Log In
                    </div>
                    <div class="card-body">
                        <div th:if="${param.error}">
                            <span style="color: red">Invalid username or password</span>
                        </div>
                        <form th:action="@{/login}" method="POST">
                            <div class="row form-group">
                                <label class="col-sm-4">Username:</label>
                                <input type="text" class="col-sm-8 form-control input-sm" name="username">
                            </div>
                            <div class="row form-group">
                                <label class="col-sm-4">Password:</label>
                                <input type="password" class="col-sm-8 form-control input-sm" name="password">
                            </div>
                            <div class="row form-group">
                                <button type="submit" class="btn btn-primary">Sign In</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
-->
    
</body>

</html>